.ContainerCharacterChulongo {
    background-color: white;
    border-radius: 20px;
    padding: 18px;
    width: 80%;
    max-width: 850px;
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.ContainerCharacterChulongo img {
    width: 140px;
    border-radius: 15px;
}

.ContainerCharacterChulongo h2 {
    color: #3B1D1D;
    font-size: 40px;
    margin-bottom: 10px;
}

.ContainerCharacterChulongo p {
    color: #4B5563;
    font-size: 22px;
}