.NavigatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
    flex-wrap: wrap;
}

.NavigatorLink {
    background-color: #6D28D9;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    padding: 14px 22px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.NavigatorLink:hover {
    background-color: #5B21B6;
}