.ContainerTitulo {
    background: linear-gradient(90deg, #2A0A4A, #4B167C);
    border-radius: 25px;
    margin: 20px;
    padding: 40px;
}

.ContainerTitulo h1 {
    color: white;
    font-size: 70px;
    line-height: 1.1;
}

.ColorRicardo {
    color: #FFD84D;
}