.ContainerCharacters {
    min-height: 100vh;
    background-color: #FABADA;
    padding: 30px;
    text-align: center;
}

.ContainerCharacters h1 {
    color: white;
}

.ListaCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}