.ContainerPaginador {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.ContainerPaginador button {
    background-color: #6D28D9;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: bold;
}

.ContainerPaginador button:hover {
    background-color: #5B21B6;
}

.PaginaActual {
    background-color: #2A0A4A !important;
}